**/*.DS_Store
**/*.ipynb_checkpoints
**/*.pyc
**/__pyache__
*.ppt*
*.key
.pytest*
.vscode/.ropeproject
legacy
**/*.bak
**/*.lock
**/.ipython_logs
*.log
*worklog.md
**/*.gdoc
*_output
**/*.ipyhistory
.virtual_documents
presentations
papers
paradigms
docs
code/legacy
analysis/bak
